//**********************************************************/
@import "mymix";
//**********************************************************/
.mypamphletu{
  //@include clearfix();
  //overflow: hidden;
  //height: 500px;
  //width: 100%;
  &_item{
    //height: 200px !important;
    //margin-left: 20px;
    //margin-top: 15px;
    //position: relative;
    //width: 0.01px;
    //z-index: 556;
    //margin: 0px !important;
    //padding: 0px !important;
    //position: static !important;
    //display: inline-block !important;
    //clear: none !important;
    //float: left !important;
  }
}
#pamphletu5598{
  margin-left: 380px;
}
#myaccordionu2801 {
    background-color: transparent;
    border-color: #7f7f7f;
    margin-left: 20px;
    margin-top: 8px;
    position: relative;
    width: 921px;
    z-index: 116;
}
#accordionu6816 {
    background-color: transparent;
    border-color: #7f7f7f;
    left: 20px;
    margin-right: 0px;
    margin-top: 28px;
    position: relative;
    width: 920px;
    z-index: 390;
}
//@import "thule";